// Color

$charcoal-grey: #38464f;
$white: #ffffff;
$denim: #406884;
$dark: #2c3942;
$salmon: #fb816a;
$white-two: #f8f8f8;
$dark-sky-blue: #2ca5fa;
$greyish-brown: #555555;
$black: #080808;
$dodger-blue: #379aff;
$black-two: #32302f;
$black-three: #373737;
$piss-yellow: #d9d71a;
$very-light-blue: #e5edf4;
$brownish-grey: #666666;
$greyish-brown-two: #4b4b4b;
$sunflower-yellow: #ffd200;
$brown-grey: #8e8e8e;
$black-four: #000000;
$greyish-brown-three: #515151;
$brown-grey-two: #a8a8a8;
$tomato: #f0513a;
