/*
*
* Variable Font
*
*/

$roboto: 'Roboto',
sans-serif;
/* Roboto all weight */

$dancingScropt: 'Dancing Script',
cursive;
/* dancing Scropt - 700 weight */

$lato: 'Lato',
sans-serif;
/* Lato - 400, 700 weight */

$nanumGothic: 'Nanum Gothic',
sans-serif;
/* Nanum Gothic - 700, 800 weight */
