@import '/node_modules/normalize.css/normalize.css';
@import '/node_modules/cssrecipes-defaults/index.css';
@import '/node_modules/cssrecipes-reset/index.css';
@import './colors';
@import './mixin';

img {
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 700px;
  min-width: 700px;
  margin: 0 auto;
  padding-left: 56.5px;
  padding-right: 56.5px;
}

@import './header.scss';
@import './body.scss';
@import './scrollingRow.scss';
@import './footer.scss';
// @import '';
// @import '';
// @import '';
