.footer {
  display: flex;
  flex-direction: column;

  &__banner {
    background-color: $denim;

    & .banner__text .banner__title {
      color: $white;
    }

    & .banner__text .banner__subtitle {
      color: $white;
    }

    & .banner__icon {
      color: $white;
    }
  }

  &__all {
    background-color: $charcoal-grey;
  }
}

.all {
  display: flex;
  padding: 40px 0;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.sub {
  &__name {
    margin: 0;
    margin-bottom: 10px;
    font-family: $roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    text-align: left;
    color: $white;
  }

  &__title {
    margin: 0;
    font-family: $roboto;
    font-size: 8px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: 0.1px;
    text-align: left;
    color: $white;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 4px;
    }

    & .fa-li {
      color: $dark-sky-blue;
    }
  }
}
