.header {
  display: flex;
  flex-direction: column;
  background-color: $dark;

  &__top {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
  }

  &__main {
    display: flex;
    position: relative;
    align-items: center;
    height: 80px;
    background-color: $charcoal-grey;
    border-bottom: 1px solid #ffffff10;

    &::after {
      position: absolute;
      top: 0;
      left: -150px;
      display: block;
      content: '';
      transform-origin: bottom right;
      transform: skew(-60deg, 0deg);
      width: 56%;
      height: 78px;
      opacity: 0.35;
      background-color: $denim;
    }

    &::before {
      position: absolute;
      top: 0;
      left: -150px;
      display: block;
      content: '';
      transform-origin: bottom right;
      transform: skew(-60deg, 0deg);
      width: 54%;
      height: 78px;
      background-color: $denim;
    }

    &__wrap {
      display: flex;
    }
  }

  &__tabs {
    background-color: $charcoal-grey;
    box-shadow: 0 2.2px 2.5px -5px #0000000f;
  }

  &__banner {
    height: 20px;
    background-color: #ffffff;
  }
}


.logo {
  display: flex;
  flex-direction: column;

  &__link {
    display: inline-block;
    width: 100%;
    text-decoration: none;
  }

  &__image {
    object-fit: contain;
  }
}

.top {
  &__wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }

  &__title {
    margin: 0;
    margin-right: 9px;
    display: inline-block;
    font-family: $roboto;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    color: $very-light-blue;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid $brown-grey-two;

    &:last-child {
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;

    @include top-link;

    &--tel {
      color: $piss-yellow;
    }
  }
}

.main {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    flex: 0 0 12%;
  }

  &__search {
    flex: 0 0 50%;
    height: 30px;
    display: flex;
    background-color: $white;
  }

  &__user {
    flex: 0 0 32%;
  }
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  &__select {
    border: none;
    flex: 0 0 20%;
    outline: none;
    color: $black-two;
    font-family: $roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;

    &::placeholder {
      font-family: $roboto;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
    }
  }

  &__input {
    padding: 4px 12px;
    outline: none;
    border: none;
    border-left: 1px solid $brown-grey-two;
    flex: 0 0 72%;
    font-family: $roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: $brown-grey;

    &::placeholder {
      font-family: $roboto;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: $brown-grey;
    }
  }

  &__button {
    background-color: $dark-sky-blue;
    flex: 0 0 8%;
    width: 23.5px;
    height: 100%;
    text-align: center;
    line-height: 1;
    font-size: 16px;
  }
}

.user {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }

  &__item {
    position: relative;
    flex-basis: calc(100% / 4);
    padding: 0 4px;

    &:not(:last-child)::after {
      position: absolute;
      right: 0;
      top: 25%;
      display: inline-block;
      content: '';
      width: 1px;
      height: 18px;
      background-color: $brown-grey-two;
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    outline: none;
    width: 100%;
    height: 100%;


    &--text {
      padding: 4px;
      margin-top: 8px;
      display: block;
      font-family: $roboto;
      font-size: 8px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: $very-light-blue;
      text-transform: uppercase;
    }
  }
}

.cart {
  justify-content: center;

  border-radius: 2.5px;
  background-color: $salmon;
}

.tabs {
  &__select {
    &--btn {
      border: none;
      outline: none;
      width: 100px;
      height: 18px;
      border-radius: 2.5px;
      background-color: $salmon;
      font-family: $roboto;
      font-size: 7.5px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.4px;
      text-align: left;
      color: $white;
      appearance: none;
      appearance: 
    }
  }
}
